site_name = 
company_name = 
secret_key = 
under_development = 
allowed_hosts = 

db_engine = 
name = 
user = 
password = 
host = 
port = 

email_backend = 
email_host = 
email_use_tls = 
email_port = 
email_host_user = 
email_host_password =

stripe_base_url = 

stripe_api_publishable_key_live = 

stripe_api_secret_key_live = 

stripe_api_publishable_key_test = 

stripe_api_secret_key_test = 

instamojo_private_live_api_key = 
instamojo_private_live_auth_token = 
instamojo_private_live_salt = 

instamojo_private_test_api_key = 
instamojo_private_test_auth_token =
instamojo_private_test_salt = 

paypal_sandbox_client_id = 
paypal_sandbox_secret_key = 

paypal_live_client_id = 
paypal_live_secret_key = 


api_key = 