# Site Data
frontend_site_domain = ''
frontend_site_ip = ''
company_name = ''

# Others
secret_key = ''
under_development = ''
allowed_hosts = []

# Database
db_engine = ''
name = ''
user = ''
password = ''
host = ''
port = ''

# Email
email_backend = ''
email_host = ''
email_use_tls = ''
email_port = ''
email_host_user = ''
email_host_password =''

# stripe
stripe_public_key = ''
stripe_api_key = ''
stripe_webhook_secret = ''
stripe_restricted_key = ''

# Instamojo
# instamojo_api_key = ''
# instamojo_auth_token = ''
# instamojo_salt = ''

# Paypal
paypal_client_id = ''
paypal_secret_key = ''

# IP Info
ipinfo_token = ''

# Discord Logs Webhooks
stripe_payment_intent_logs_webhook_url_discord = ''
stripe_refund_logs_webhook_url_discord = ''