secret = ''
under_development = True
allowed_hosts = ''

db_engine = 'django.db.backends.postgresql'
name = ''
user = ''
password = ''
host = ''
port = ''

email_host = 'smtp.gmail.com'
email_use_tls = True
email_port = '587'
email_host_user = ''
email_host_password =''

ipinfo_token = ''